.container{
    .logo{
        width: 204px;
        height: 56px;
        background: url(../img/logo.png) no-repeat;
        position: absolute;
        top: 30px;
        left: 50%;
        margin-left: -102px;
    }
    &::after{
        content: '';
        display: block;
        width: 100%;
        height: 570px;
        position: absolute;
        left: 0;
        top: 33%;
        background: url(../img/main_wenli.png) center center no-repeat;
    }
    .page1-1{
        width: 100%;
        height: 100%;
        padding: 0px 200px;
        .pageBg{
            width: 100%;
            height: 100%;
            background: url(../img/pageNav/title.png) no-repeat;
            position: relative;
            background-position: center 0px;
            opacity: 0;
            animation: bgmove .8s forwards;
        }
        .slide{
            width: 25%;
            height: 900px;
            float: left;
            position: absolute;
            margin-top: 150px;
            transition: all 1s;
            transition-delay: 2s;
        }
        .slide1{
            left: 0%;
            .slide1-text{
                width: 100%;
                height: 100%;
                position: absolute;
                background: url(../img/pageNav/slide1_text.png) 50px 240px no-repeat;
                z-index: 1;
            }
            .bg{
                width: 100%;
                height: 100%;
                position: absolute;
                background: url(../img/pageNav/dizuos.png) bottom center no-repeat;
                bottom: 0;
                &::before{
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: url(../img/pageNav/slide1_bg.png) center 240px no-repeat;
                }
            }
            &.active{
                left: 50%;
                transform: translateX(-50%);
            }
            .gx{
                width: 245px;
                height: 270px;
                position: absolute;
                top: 550px;
                left: 279px;
                background: url(../img/pageNav/gx.png) no-repeat;
            }
        }
        .slide2{
            left: 25%;
            .gx{
                width: 245px;
                height: 270px;
                position: absolute;
                top: 550px;
                left: 375px;
                background: url(../img/pageNav/gx.png) no-repeat;
            }
            .slide2-text{
                width: 100%;
                height: 100%;
                position: absolute;
                background: url(../img/pageNav/slide2_text.png) 102px 240px no-repeat;
                z-index: 1;
            }
            .bg{
                width: 100%;
                height: 100%;
                position: absolute;
                background: url(../img/pageNav/dizuos.png) bottom center no-repeat;
                bottom: 0;
                &::before{
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: url(../img/pageNav/slide2_bg.png) center 240px no-repeat;
                }
            }
            &.active{
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .slide3{
            left: 50%;
            .gx{
                width: 245px;
                height: 270px;
                position: absolute;
                top: 500px;
                left: 219px;
                background: url(../img/pageNav/gx.png) no-repeat;
            }
            .slide3-text{
                width: 100%;
                height: 100%;
                position: absolute;
                background: url(../img/pageNav/slide3_text.png) 104px 240px no-repeat;
                z-index: 1;
            }
            .bg{
                width: 100%;
                height: 100%;
                position: absolute;
                background: url(../img/pageNav/dizuos.png) bottom center no-repeat;
                bottom: 0;
                &::before{
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: url(../img/pageNav/slide3_bg.png) center 240px no-repeat;
                }
            }
            &.active{
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .slide4{
            left: 75%;
            .slide4-text{
                width: 100%;
                height: 100%;
                position: absolute;
                background: url(../img/pageNav/slide4_text.png) 104px 240px no-repeat;
                z-index: 1;
            }
            .bg{
                width: 100%;
                height: 100%;
                position: absolute;
                background: url(../img/pageNav/dizuos.png) bottom center no-repeat;
                bottom: 0;
                &::before{
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: url(../img/pageNav/slide4_bg.png) center 240px no-repeat;
                }
            }
            &.active{
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

// 动画
@keyframes bgmove
{
	0% {
        background-position: center 0px;
        opacity: 0;
    }
	100% {
        background-position: center 150px;
        opacity: 1;
    }
}